body{
	background: #ffd180;
}

.HomeTitle {
	font-family: 'Pacifico', cursive;
}

nav {
	padding-left: 20px;
	background-color: teal;
}

.loanOut {
	display: inline;
	color: #808080;
}

.contact_container{
	border: 1px solid black;
}

img {
	width: 300px;
	height: 300px;
}

.revealCardInfo span,
.bookTitle,
.editSpan,
.imageTitle
{
	font-weight: bold;
}