<h3 class="HomeTitle">Add Book to Bookcase OR Wishlist</h3>

<div class="row">
	<form class="col s12">
		<div class="row">
			<img ng-src="{{newBook.image}}" alt="" class="image">
			<div class="input-field col s12">
				<p for="title">Title: {{newBook.title}}</p>
			</div>
			<div class="input-field col s12">
				<p for="author">Author: {{newBook.author}}</p>
			</div>
			<div class="input-field col s12">
				<p for="genre">Genre: {{newBook.genre}}</p>
			</div>
			<div class="input-field col s12">
				<p for="isbn">ISBN: {{newBook.isbn}}</p>
			</div>
			<div class="input-field col s12">
				<p for="isbn">description: {{newBook.description}}</p>
			</div>
			<!-- <div class="input-field col s12">
				<p for="isbn">googleId: {{newBook.id}}</p>
			</div> -->
			<!-- <div class="input-field col s12">
				<input id="worth" type="text" ng-model="newBook.worth">
				<label for="worth">Worth</label>
			</div> -->
			<!--User puts input-->
			<div class="input-field col s4">
				<form action="#">
						<div class="loanOut grey-text">Loaned Out?</div>
						<input name="group1" type="radio" id="no" value="No" ng-model="newBook.loanedOut" ng-change="radioChange(value)"/>
						<label for="no">No</label>
						<input name="group1" type="radio" id="yes" value="Yes" ng-model="newBook.loanedOut" ng-change="radioChange(value)"/>
						<label for="yes">Yes</label>
				</form>
			</div>
			<div class="input-field col s8">
				<input id="toWho" type="text" ng-model="newBook.toWho">
				<label for="toWho">To Who?</label>
			</div>

			<div class="input-field col s12">
				<textarea id="notes" class="materialize-textarea" ng-model="newBook.notes"></textarea>
				<label for="notes">Notes</label>
			</div>

		</div>
			<button type="submit" class="btn btn-success" id="submit-contact" ng-click="submitNewBook()">BOOKCASE</button>
			<button type="submit" class="btn btn-success" id="submit-contact" ng-click="submitNewBookWish()">Wishlist</button>
	</form>
</div>


