<h3 class="HomeTitle">Add Book to Bookcase</h3>

<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="title" type="text" ng-model="newBook.title">
				<label for="title">Title</label>
			</div>
			<div class="input-field col s12">
				<input id="author" type="text" ng-model="newBook.author">
				<label for="author">Author</label>
			</div>
			<div class="input-field col s12">
				<input id="genre" type="text" ng-model="newBook.genre">
				<label for="genre">Genre</label>
			</div>
			<div class="input-field col s12">
				<input id="isbn" type="text" ng-model="newBook.isbn">
				<label for="isbn">ISBN</label>
			</div>
			<div class="input-field col s12">
				<input id="worth" type="text" ng-model="newBook.worth">
				<label for="worth">Worth</label>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<input id="first_name" type="text">
					<label for="first_name">First Name</label>
				</div>
				<div class="input-field col s6">
				<input id="last_name" type="text">
					<label for="last_name">Last Name</label>
				</div>
			</div>

			<div class="input-field col s12">
				<textarea id="notes" class="materialize-textarea" ng-model="newBook.notes"></textarea>
				<label for="notes">Notes</label>
			</div>

			<button type="submit" class="btn btn-success" id="submit-contact" ng-click="submitNewBook()">Submit New Book</button>
		</div>
	</form>
</div>

		
	<!-- 	<div class="form-group">
			<label>Loaned Out</label>
			<input class="form-control" type="text" id="loanedOut" placeholder="Loaned Out" ng-model="newBook.loanedOut">
		<-->

