<h3 class="HomeTitle">Add Book to Bookcase</h3>

<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="title" type="text" ng-model="newBook.title">
				<label for="title">Title</label>
			</div>
			<div class="input-field col s12">
				<input id="author" type="text" ng-model="newBook.author">
				<label for="author">Author</label>
			</div>
			<div class="input-field col s12">
				<input id="genre" type="text" ng-model="newBook.genre">
				<label for="genre">Genre</label>
			</div>
			<div class="input-field col s12">
				<input id="isbn" type="text" ng-model="newBook.isbn">
				<label for="isbn">ISBN</label>
			</div>
			<div class="input-field col s12">
				<input id="worth" type="text" ng-model="newBook.worth">
				<label for="worth">Worth</label>
			</div>

			<div class="input-field col s4">
				<form action="#">
						<div class="loanOut">Loaned Out?</div>
						<input name="group1" type="radio" id="no" value="No" ng-model="newBook.loanedOut" ng-change="radioChange(value)"/>
						<label for="no">No</label>
						<input name="group1" type="radio" id="yes" value="Yes" ng-model="newBook.loanedOut" ng-change="radioChange(value)"/>
						<label for="yes">Yes</label>
				</form>
			</div>
			<div class="input-field col s8">
				<input id="toWho" type="text" ng-model="newBook.toWho">
				<label for="toWho">To Who?</label>
			</div>

			<div class="input-field col s12">
				<textarea id="notes" class="materialize-textarea" ng-model="newBook.notes"></textarea>
				<label for="notes">Notes</label>
			</div>

		</div>
			<button type="submit" class="btn btn-success" id="submit-contact" ng-click="submitNewBook()">Submit New Book</button>
	</form>
</div>



