
<h3 class="HomeTitle">Bookcase</h3>
<nav>
	<div class="nav-wrapper teal">
		<form>
			<div class="input-field">
				<input id="search" type="search" placeholder="Search for ..." ng-model="searchText" required>
				<label for="search"><i class="material-icons">search</i></label>
				<i class="material-icons">close</i>
			</div>
		</form>
	</div>
</nav>

<div class="row">
	<div class="col s12 m6 l4" ng-repeat="book in bookcase | filter: searchText">
		<div class="card medium">
			<div class="card-image">
				<img class="activator cardImage" ng-src="{{book.image}}">
				<span class="card-title"><h5 class="imageTitle teal darken-2">{{book.title}}<h5></span>
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{book.author}}<i class="material-icons right">more_vert</i></span>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{book.title}}<i class="material-icons right">close</i></span>
				<div class="revealCardInfo"><span>Author: </span>{{book.author}}</div>
				<div class="revealCardInfo"><span>Genre: </span>{{book.genre}}</div>
				<div class="revealCardInfo"><span>ISBN: </span>{{book.isbn}}</div>
				<div class="revealCardInfo"><span>Description: </span>{{book.description}}</div>
				<div class="revealCardInfo"><span>Loaned Out?: </span>{{book.loanedOut}}</div>
				<div class="revealCardInfo"><span>To Who?: </span>{{book.toWho}}</div>
				<div class="revealCardInfo"><span>Notes: </span>{{book.notes}}</div>
			</div>
			<div class="card-action teal">
				<a ng-href="#/bookcase/editPrev/{{book.id}}"><button class="edit btn btn-warning teal darken-2"><i class="material-icons">edit</i></button></a>
				<button class="delete btn btn-danger teal darken-2" ng-click="deleteBook(book.id)"><i class="material-icons">delete</i></button>
			</div>
		</div>
	</div>
</div>


