<h2>Bookcase</h2>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
			</span>
			<input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
		</div>
	</div>
</div>

<h3>In My Bookcase</h3>
<div class="container">
	<div class="contact_container" ng-repeat="book in bookcase | filter: searchText | filter:{loanedOut:false}" >
		<h4 class="title">{{book.title}}</h4>
		<h4 class="author">{{book.author}}</h4>
		<div class="genre">Genre: {{book.genre}}</div>
		<div class="isbn">{{book.isbn}}</div>
		<div class="worth">Worth: {{book.worth}}</div>
		<div class="input-group">
		    <span class="input-group-addon">
		        <input type="checkbox" aria-label="..." ng-model="book.loanedOut" ng-change="loanedOutChbx(book)">
		    </span>
			<p>  Loaned Out?</p>
		</div>	
		<div class="notes">Notes: {{book.notes}}</div>
		<div class="editDeleteButton">
			<button class="edit btn btn-warning"><a ng-href="#/bookcase/editPrev/{{book.id}}"><i class="material-icons">edit</i></a></button>
			<button class="delete btn btn-danger" ng-click="deleteBook(book.id)"><i class="material-icons">delete</i></button>
		</div>
	</div>
</div>

<h3>Loaned Out Books</h3>
<div class="container">
	<div class="contact_container" ng-repeat="book in bookcase | filter: searchText | filter:{loanedOut:true}" >
		<h4 class="title">{{book.title}}</h4>
		<h4 class="author">{{book.author}}</h4>
		<div class="genre">Genre: {{book.genre}}</div>
		<div class="isbn">{{book.isbn}}</div>
		<div class="worth">Worth: {{book.worth}}</div>
			<input type="checkbox" ng-model="book.loanedOut" ng-change="loanedOutChbx(book)">
			<label>Loaned Out?</label>
		<div class="notes">Notes: {{book.notes}}</div>
		<div class="editDeleteButton">
			<button class="edit btn btn-warning" ng-click="editBook(book.id)"><i class="material-icons">edit</i></button>
			<button class="delete btn btn-danger" ng-click="deleteBook(book.id)"><i class="material-icons">delete</i></button>
		</div>
	</div>
</div>