
<h1>Preview book information before editing</h1>

<div class="">
	<h3>Title: {{selectedBook.title}}</h3>
	<h3>Author: {{selectedBook.author}}</h3>
	<h3>Genre: {{selectedBook.genre}}</h3>
	<h3>ISBN: {{selectedBook.isbn}}</h3>
	<h3>Worth: {{selectedBook.worth}}</h3>
	<h3>loanedOut: {{selectedBook.loanedOut}}</h3>
	<h3>Notes: {{selectedBook.notes}}</h3>
	<button class="btn btn-success">
		<a ng-href="#/bookcase/edit/{{selectedBook.id}}">Edit</a>
	</button>
	<button class="btn btn-info">
		<a ng-href="#/bookcase/home">Go Back to Bookcase</a>
	</button>
</div>

<!-- title: newBook.title,
author: newBook.author,
genre: newBook.genre,
isbn: newBook.isbn,
worth: newBook.worth,
loanedOut: newBook.loanedOut,
notes: newBook.notes,
uid: newBook.uid -->