

<div class="container">
	<h4 class="HomeTitle">Preview book information before editing</h4>
	<h5><span class="editSpan">Title: </span>{{selectedBook.title}}</h5>
	<div><span class="editSpan">Author: </span>{{selectedBook.author}}</div>
	<div><span class="editSpan">Genre: </span>{{selectedBook.genre}}</div>
	<div><span class="editSpan">ISBN: </span>{{selectedBook.isbn}}</div>
	<div><span class="editSpan">Description: </span>{{selectedBook.description}}</div>
	<div><span class="editSpan">googleId: </span>{{selectedBook.id}}</div>
	<div><span class="editSpan">Loaned Out: </span>{{selectedBook.loanedOut}}</div>
	<div><span class="editSpan">To Who?: </span>{{selectedBook.toWho}}</div>
	<div><span class="editSpan">Notes: </span>{{selectedBook.notes}}</div>
	
	<a ng-href="#/bookcase/edit/{{selectedBook.id}}">
		<button class="btn btn-success">Edit</button>
	</a>
	<a ng-href="#/bookcase/home">
		<button class="btn btn-info">Go Back to Bookcase</button>
	</a>
	
</div>
