
<!-- <nav class="navbar navbar-default" ng-controller="NavbarCtrl">
	<div class="navbar-header">
		<a href="#" class="navbar-brand">Bookcase It!</a>
	</div>

	<div class="right-links">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right" ng-repeat="navLink in navTitles">
				<li><a href="{{navLink.url}}">{{navLink.name}}</a></li>
			</ul>
		</div>
	</div>
</nav> -->

<!--Materialize-->
<nav ng-controller="NavbarCtrl">
	<div class="nav-wrapper teal">
	<a href="#" class="brand-logo">Bookcase It!</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down" ng-repeat="navLink in navTitles">
			<li><a href="{{navLink.url}}">{{navLink.name}}</a></li>
		</ul>
	</div>
</nav>