<!--Search for your book here-->
<h3 class="HomeTitle">Search for a Book to Add</h3>
<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="search" type="text" ng-model="inputForSearch" required>
				<label for="search">Search for Book...</label>
			</div>
		</div>
		<button type="submit" class="btn btn-success" id="search-book" ng-click="submitSearch()">Search</button>
	</form>
</div>		

<!--Results from Search-->
<div class="row">
	<div class="col s12 m6 l4" ng-repeat="bookChoice in searchResults">
		<div class="card medium">
			<div class="card-image">
				<img class="activator cardImage" src="{{bookChoice.volumeInfo.imageLinks.thumbnail}}">
				<span class="card-title"><h5 class="imageTitle">{{bookChoice.volumeInfo.title}}<h5></span>
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{bookChoice.volumeInfo.authors[0]}}<i class="material-icons right">more_vert</i></span>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4" ng-model="bookChoice.title">{{bookChoice.volumeInfo.title}}<i class="material-icons right">close</i></span>
				<div class="revealCardInfo" ng-model="bookChoice.author"><span>Author: </span>{{bookChoice.volumeInfo.authors[0]}}</div>
				<div class="revealCardInfo" ng-model="bookChoice.genre"><span>Genre: </span>{{bookChoice.volumeInfo.categories[0]}}</div>
				<div class="revealCardInfo" ng-model="bookChoice.isbn"><span>ISBN: </span>{{bookChoice.volumeInfo.industryIdentifiers[1].identifier}}</div>
				<div class="revealCardInfo"><span>Description: </span>{{bookChoice.volumeInfo.description}}</div>
				<div class="revealCardInfo"><span>googleId: </span>{{bookChoice.id}}</div>
			</div>
			<div class="card-action teal">
				<a ng-href="#/bookcase/add/{{bookChoice.id}}"><button class="edit btn btn-warning teal darken-2">Add to Bookcase</button></a>
				<a ng-href="#/bookcase/wishlist/{{bookChoice.id}}"><button class="edit btn btn-warning teal darken-2">Add to Wishlist</button></a>
			</div>
		</div>
	</div>
</div>
	
<!--image: newBook.url,
title: newBook.title,
author: newBook.author,
genre: newBook.genre,
isbn: newBook.isbn,
worth: newBook.worth,
loanedOut: newBook.loanedOut,
toWho: newBook.toWho,
notes: newBook.notes,
uid: newBook.uid-->
