"use strict";

bookcase.constant("FIREBASE_CONFIG", {
    apiKey: "",
    authDomain: "",
    databaseURL: "",
    storageBucket: "",
    messagingSenderId: ""
  });

  bookcase.constant("GOOGLE_APIKEY",{
    client_id: ""
});